
header{
    color: rgb(255, 255, 255);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    text-align: center;
    display: block;
    margin-top: 55px;
}

form{
    display: block;
    margin-top: 10px;
    height: auto;
    padding-top: 0;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px;
    object-fit: cover;
}

.name {
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    opacity: 80%;
}

.password {
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    opacity: 90%;
}

.repassword {
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    opacity: 80%;
}


.name:hover, .password:hover, .repassword:hover{
    opacity: 100%;
}

.btlogin {
    font-size: 20px;
    width: 100px;
    border: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    opacity: 70%;
}

.btlogin:hover {
    background-color: rgb(228, 120, 120);
    opacity: 100%;
}


.wrapper {
    margin: 100px auto;
   width: fit-content;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px black;
    transition: all 0.3s ease;
}

fieldset {
    border: 0;
    display: flex;
    float: right;
    gap:10px;
}

.change_BG input[type = "radio"]{
    appearance: none;
    width: 1rem;
    height: 1rem;
    outline: 2px solid white;
    outline-offset: 3px;
    border-radius: 50%;
}

.change_BG input[type = "radio"]#bg1:checked{
    background-color: purple;
}

:root:has(#bg1:checked){
    background-image: url("img/background1.jpg");
    background-size: 2560px
}

.change_BG input[type = "radio"]#bg2:checked{
    background-color: darkblue;
}

:root:has(#bg2:checked){
    background-image: url(img/background2.jpg);
    background-size: 2560px;
}

.change_BG input[type = "radio"]#bg3:checked{
    background-color: yellow;
}

:root:has(#bg3:checked){
    background-image: url(img/background3.jpg);
    background-size: 2560px;
}