body {
    background-color: #80b9e1;
    background-image: url("img/alone-sunset-city-scenery-digital-art-4k-wallpaper-uhdpaper.com-435@5@c.jpg");
    background-size: 2560px
}   
header{
    color: rgb(255, 255, 255);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    text-align: center;
    display: block;
    margin-top: 75px;
}

form{
    display: block;
    margin-top: 10px;
    height: auto;
}

.name {
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    opacity: 80%;
}

.password {
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    opacity: 90%;
}

.repassword {
    padding: 15px;
    border-radius: 10px;
    border-color: white;
    opacity: 80%;
}


.name:hover, .password:hover, .repassword:hover{
    opacity: 100%;
}

.btlogin {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    opacity: 70%;
}

.btlogin:hover {
    background-color: rgb(228, 120, 120);
    opacity: 100%;
}


.wrapper {
    margin: 100px auto;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px black;
    transition: all 0.3s ease;
}

